<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Debian Official Cloud Images -- Getting Debian  - www.debian.org</title>
<link rel="author" href="mailto:webmaster@debian.org">
<link href="https://www.debian.org/debian.css" rel="stylesheet" type="text/css">
<link href="https://www.debian.org/debian-en.css" rel="stylesheet" type="text/css" media="all">


<div id="header">
  <div id="upperheader">
    <div id="logo">
      <a href="https://www.debian.org/" title="Debian Home"><img src="https://www.debian.org/Pics/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div> <!-- end logo -->
    <div id="navbar">
      <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
      <ul>
	<li><a href="https://www.debian.org/intro/about">About Debian</a></li>
	<li><a href="https://www.debian.org/distrib/">Getting Debian</a></li>
	<li><a href="https://www.debian.org/support">Support</a></li>
	<li><a href="https://www.debian.org/devel/">Developers' Corner</a></li>
      </ul>
    </div> <!-- end navbar -->
  </div> <!-- end upperheader -->
  <h1>Debian Official Cloud Images</h1>

  <p>
    In this page you can find the Debian cloud images provided by the Debian Cloud Team for some cloud providers.
    End users do not need to download these images, as they are
    usually provided by their cloud providers.
    For now we are supporting:

    <ul>
      <li><i>Amazon EC2 (amd64, arm64; Also see <a href="https://wiki.debian.org/Cloud/AmazonEC2Image">the wiki</a> and the <a href="https://aws.amazon.com/marketplace/seller-profile?id=4d4d4e5f-c474-49f2-8b18-94de9d43e2c0&ref=dtl_B0859NK4HC">AWS Marketplace listing</a></i>)</li>
      <li><i>Microsoft Azure (amd64; Also see <a href="https://wiki.debian.org/Cloud/MicrosoftAzure">the wiki</a> and <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps?search=debian&page=1">The Azure Marketplace</a></i>)</li>
      <li><i>OpenStack (amd64, arm64, ppc64el; two
      flavours <a href="https://cloud.debian.org/cdimage/cloud/OpenStack/">using
      openstack-debian-images</a> and using the <a href="https://cloud.debian.org/cdimage/cloud/bullseye">toolchain</a> from the
      cloud team.
	  Also see <a href="https://wiki.debian.org/OpenStack">the wiki</a></i>)</li>
      <li><i>Plain VM (amd64)</i>, suitable for use with QEMU</li>
    </ul>


    From buster on we provide images for different cloud providers in
    one directory. There we use file names like this:

    <ul>
      <li><tt>debian-11-generic-ppc64el-daily-20210425-618.qcow2</tt></li>
      <li><tt>debian-11-genericcloud-amd64-daily-20210425-618.qcow2</tt></li>
      <li><tt>debian-11-ec2-arm64-daily-20210425-618.tar.xz</tt></li>
    </ul>

    <ul>
  <li><i>azure</i>: Optimized for the Microsoft Azure environment</li>
  <li><i>ec2</i>: Optimized for the Amazon EC2</li>
  <li><i>generic</i>: Should run in any environment using cloud-init,
  for e.g. OpenStack, DigitalOcean and also on bare metal.</li>
  <li><i>genericcloud</i>: Similar to generic. Should run in any
  virtualised environment. Is smaller than `generic` by excluding
  drivers for physical hardware.</li>
  <li><i>nocloud</i>: Mostly useful for testing the build process
   itself. Doesn't have cloud-init installed, but instead allows root
   login without a password. </li>
   </ul>

  </p>

  <h2>How to upload to OpenStack?</h2>

  <p>Once you have downloaded the image, you would typically need to upload it to
  Glance, using a command like this one (example for amd64):</p>

  <pre>openstack image create \
    --container-format bare \
    --disk-format qcow2 \
    --property hw_disk_bus=scsi \
    --property hw_scsi_model=virtio-scsi \
    --property os_type=linux \
    --property os_distro=debian \
    --property os_admin_user=debian \
    --property os_version='10.9.1' \
    --public \
    --file debian-10-generic-arm64-20210329-591.qcow2 \
    debian-10-generic-arm64-20210329-591.qcow2</pre>

  <p>Note that <i>hw_disk_bus=scsi</i> and <i>hw_scsi_model=virtio-scsi</i>
  select the virtio-scsi driver instead of the virtio-blk, which is nicer
  (on older versions of Qemu, virtio-blk doesn't have the FSTRIM feature,
  for example). Also, the properties <i>os_type, os_distro, os_version and
  os_admin_user</i> are OpenStack standards as per
  <a href="https://docs.openstack.org/glance/latest/admin/useful-image-properties.html">this
  document</a>. It is best practice to set them, especialy on public clouds,
  to allow your cloud users to filter the image list to search what they need,
  for example using a command like this one:

  <pre>openstack image list --property os_distro=debian</pre>

  <h2>How can I verify my download is correct and exactly what has been
    created by Debian?</h2>

  <p>For the current official images (in the per-distribution
    directories), the safest method is to download the image and
    checksum files over TLS from <tt>cloud.debian.org</tt> or <tt>cdimage.debian.org</tt>.
    These names support DNSSEC, so a validating resolver can ensure
    that a client is connected to a Debian host.  And TLS ensures that
    the data is not manipulated in flight.</p>

  <p>The legacy OpenStack images (in the <tt>OpenStack/</tt> directory)
    provide checksums and signatures.  See SHA512SUMS.sign, etc. For
    more information about the verification steps, read the <a href="https://www.debian.org/CD/verify">verification guide</a></p>

  <p>If you're interested in contributing checksum signatures for the
    current images, please reach us on the list: <b>debian-cloud at lists.debian.org</b>.</p>

  <h2>Other questions?</h2>

  <p>Questions can be forwarded to the Debian Cloud Team: <b>debian-cloud at lists.debian.org</b>.</p>

</div>
